<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ryvn@fpuvgb.zr</string>
	<key>contactName</key>
	<string>Elia Schito</string>
	<key>description</key>
	<string>New shiny bundle for Opal Ruby.</string>
	<key>name</key>
	<string>Opal Ruby</string>
	<key>uuid</key>
	<string>E2EB4732-6A33-49C2-B8EE-96CB72476B59</string>
</dict>
</plist>
